@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #050505;
  --foreground: #F5F5F7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Fluid Motion Easing */
.ease-vanguard {
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

/* Hide scrollbars but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Premium Selection */
::selection {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}